* {
  box-sizing: border-box;
}
body,
ul,
li,
h1 {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
:root {
  --light-green-blue: #6abecd;
  --yellow-100: #f1b604;
  --yellow-brown-500: #f48925;
  --dark-blue: #3e54a3;
  --red-500: #cf6390;
  --red-button-bg: #ed2c49;
  --very-light-gray: rgba(220, 220, 220, 0.2);
  --clr-text-green: #aad742;
  --clr-card-bg-dark: #181823;
  --clr-light-gray: #8491a0;
  --clr-footer-bg: #181818;
}
h1 {
  font-size: 2.5em;
  font-weight: 700;
}
.text_gray {
  color: hsla(0, 0, 100%, 0.5);
}
.unstyled_list {
  list-style: none;
}
.sub-heading {
  font-size: 2rem;
  font-weight: 500;
}
.scroll-watcher {
  height: 0.5em;
  position: fixed;
  top: 0;
  z-index: 1000;
  background-color: lime;
  width: 100%;
  scale: 0 1;
  transform-origin: left;
  animation: scroll-watcher linear;
  animation-timeline: scroll();
}
@keyframes scroll-watcher {
  to {
    scale: 1 1;
  }
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 1em;
}
.brand {
  height: 48px;
  width: 48px;
}
.brand img {
  inline-size: 100%;
  border-radius: 50%;
  border: 1px solid #dcdcdc;
}
nav {
  display: flex;
  text-align: end;
}
.my-nav {
  display: none;
}
.nav_item {
  display: inline-block;
  margin: 1em;
  padding: 0.25em 0.5em;
  font-weight: 700;
  text-transform: uppercase;
}
.nav_item:hover,
.nav_item:focus {
  background-color: #d3d3d3;
}
.nav_item a {
  color: inherit;
  text-decoration: inherit;
}
.link_item {
  text-decoration: none;
}
.my-nav-ham {
  font-size: 2em;
}
@media screen and (min-width: 768px) {
  .header {
    padding: 0.5em 2em;
  }
  .my-nav {
    display: inline-block;
  }
  .my-nav-ham {
    display: none;
  }
}
.hero-section {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
  min-height: 90vh;
}
.hero-img {
  background-image: url("./assets/desktop-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top right;
}
.hero-text-box {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  text-align: center;
  background-color: rgba(35, 35, 35, 0.5);
}
@media screen and (min-width: 768px) {
  .hero-section {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    background-size: cover;
    background-position: top right;
    height: 50vh;
  }
  .hero-text-box {
    background-image: url("./assets/desktop-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top right;
    text-align: left;
  }
  .hero-heading {
    padding-left: 2rem;
    max-width: 65%;
  }
}
@media screen and (min-width: 992px) {
  .hero-heading {
    padding-left: 4rem;
  }
}
.wrapper {
  padding: 1rem;
}
.contact {
  background-color: rgba(220, 220, 220, 0.5);
}
.card_group {
  display: grid;
  gap: 3em;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}
@media screen and (min-width: 768px) {
  .wrapper {
    padding: 1rem 3rem;
  }
}
@media screen and (min-width: 992px) {
  .wrapper {
    padding: 2rem 4rem;
  }
  .card_group {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
}
.card {
  margin: 3em 0;
  border: 0;
  overflow: hidden;
}
.animated-card {
  animation: fade-in linear;
  animation-timeline: view();
  animation-range: entry;
}
.card-body {
  background-color: #181823;
  padding: 1.5rem 1.5rem;
}
.card h3 {
  margin-bottom: 1em;
  color: rgba(255, 255, 255, 0.8);
}
.card-text {
  color: var(--clr-light-gray);
  font-weight: 700;
}
.card-title:hover {
  text-decoration: underline;
}
.view-icon {
  display: inline-flex;
  inline-size: 100%;
  justify-content: space-around;
  background-color: rgba(220, 220, 220, 0.2);
  border-radius: 2rem;
  color: #fff;
  margin: 0 auto;
  padding: 1em 2em;
  transform: translateY(150%);
  transition: transform 750ms ease-in-out;
}
.card-body:hover .view-icon {
  transform: translateY(0);
}
.view-icon > a {
  width: max-content;
  margin: 0 1em;
  padding: 0.5em 1em;
  border-radius: 1.25em;
  background-color: green;
  color: #fff;
  text-decoration: none;
}
.image-anchor {
  overflow: hidden;
  margin-bottom: 1em;
}
.card-image {
  display: block;
}
@keyframes fade-in {
  from {
    scale: 0.5;
    opacity: 0;
  }
  to {
    scale: 1;
    opacity: 1;
  }
}
@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.contact_form {
  inline-size: 100%;
  max-inline-size: 45rem;
  margin: 0 auto;
}
.contact_form::after {
  content: "";
  clear: both;
  display: block;
}
.footer {
  background-color: var(--clr-footer-bg);
  margin: 0;
  padding: 4em 2em;
  display: grid;
  gap: 2em;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}
.footer li {
  padding: 1em 0;
}
.footer a {
  color: #fff;
  text-decoration: none;
}
.social i {
  margin-right: 1em;
}
@media screen and (min-width: 576px) {
  .footer {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
}
