:root {
  --clr-card-bg-dark: #181823;
  --clr-light-gray: #8491a0;
  --clr-footer-bg: #181818;
  --typewriter-speed: 3s;
  --animation-bg: linear-gradient(
    to right,
    rgba(220, 220, 220, 0.4),
    rgba(220, 220, 220, 0.7)
  );
}
body,
ul,
li,
h1 {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* Typography
===============*/
h1 {
  font-size: 2.5em;
  font-weight: 700;
}
.text_gray {
  color: hsla(0, 0%, 100%, 0.5);
}
.unstyled_list {
  list-style: none;
}
.sub-heading {
  font-size: 2rem;
  font-weight: 500;
}
.section-heading {
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 2em;
}
.aboutme_list {
}
.aboutme_list > li {
  margin-bottom: 3rem;
}
.heading_2 {
  font-size: 1.75rem;
  font-weight: 600;
}
.heading_3 {
  font-size: 1.5rem;
  font-weight: 500;
}
.list_with_left_padding > li {
  margin-left: 2em;
}
.tag {
  /* background-color: #04c2c9; */
  /* color: #fff; */
  /* padding: .5em 1em; */
  font-weight: 600;
  margin-right: 1ch;
  line-height: 2;
}
.inline_logo_img {
  height: inherit;
  max-height: 1.5rem;
}

@media screen and (min-width: 768px) {
  .aboutme_list > li {
    margin-bottom: 4em;
  }
}
/* Scroll Watcher
==================*/
.scroll-watcher {
  height: 6px;
  position: fixed;
  top: 0;
  z-index: 1000;
  background-color: lime;
  width: 100%;
  scale: 0 1;
  transform-origin: left;
  animation: scroll-watcher linear;
  animation-timeline: scroll();
}
@keyframes scroll-watcher {
  to {
    scale: 1 1;
  }
}
/* Header
===========*/
.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 1em;
  box-shadow: 0 10px 100px rgba(0, 0, 0, 0.1);
}
.brand {
  height: 48px;
  width: 48px;
}
.brand img {
  inline-size: 100%;
  border-radius: 50%;
  border: 1px solid rgb(220, 220, 220);
}
nav {
  display: flex;
  text-align: end;
}
/* nav::after {
  content: "";
  clear: both;
  display: block;
} */
.my-nav {
  display: none;
}
.nav_item {
  display: inline-block;
  margin: 1em;
  padding: 0.25em 0.5em;
  font-weight: 700;
  text-transform: uppercase;
}
.nav_item:hover,
.nav_item:focus {
  background-color: rgb(211, 211, 211);
}
.nav_item a {
  color: inherit;
  text-decoration: inherit;
}
.link_item {
  text-decoration: none;
}
.my-nav-ham {
  font-size: 2em;
}
@media screen and (min-width: 768px) {
  .header {
    padding: 0.5em 2em;
  }
  .my-nav {
    display: inline-block;
  }
  .my-nav-ham {
    display: none;
  }
}
/* Hero section 
==================*/
.hero-section {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
  min-height: 90vh;
  /* padding-top: 4rem; */
}
.hero-img {
  background-image: url("./assets/desktop-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top right;
}
.hero-text-box {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  text-align: center;
  /* background: var(--animation-bg); */
  position: relative;
}
.animated-heading {
  position: relative;
  /* font-family: "Montserrat", monospace, sans-serif; */
  font-family: "Source Sans Pro", monospace, sans-serif;
  background: #ff0000;
  background: linear-gradient(
    135deg,
    #ff00d2,
    #fed90f,
    #00a2ff,
    #09f1b8,
    #ff00d2,
    #fed90f,
    #00a2ff,
    #09f1b8
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 300% 300%;
  animation: gradient 8s ease-in-out infinite;
}
@keyframes gradient {
  0%,
  20%,
  40%,
  60%,
  80%,
  100% {
    background-position: 0% 50%;
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    background-position: 100% 50%;
  }
}
.animated-heading::before,
.animated-heading::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.animated-heading::before {
  /* background-color: teal; */
  /* background: rgba(220, 220, 220, .5); */
  background: #fff;
  animation: typewriter var(--typewriter-speed) steps(18) 1s forwards;
}
.animated-heading::after {
  width: 0.125em;
  background: black;
  animation: typewriter var(--typewriter-speed) steps(18) 1s forwards,
    blink 750ms steps(18) infinite;
}

@media screen and (min-width: 576px) {
}
@media screen and (min-width: 768px) {
  .hero-section {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    background-size: cover;
    background-position: top right;
    height: 50vh;
    /* min-height: 80rem; */
  }
  .hero-text-box {
    /* background-image: url("./assets/desktop-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top right; */
    text-align: left;
  }
  .hero-heading {
    padding-left: 2rem;
    max-width: 65%;
  }
}
@media screen and (min-width: 992px) {
  .hero-heading {
    padding-left: 4rem;
  }
}
/* Section 
=============*/
section {
  /* padding: 0 1em; */
}
.wrapper {
  padding: 1rem;
}
.contact {
  background-color: rgba(220, 220, 220, 0.5);
}
/* Card Group
=================*/
.card_group {
  display: grid;
  gap: 3em;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}
@media screen and (min-width: 768px) {
  .wrapper {
    padding: 1rem 3rem;
  }
}
@media screen and (min-width: 992px) {
  .wrapper {
    padding: 2rem 4rem;
  }
  .contact {
    padding-bottom: 4rem;
  }
  .card_group {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
}
.card {
  margin: 3em 0;
  border: 0;
  overflow: hidden;
}
.animated-card {
  animation: fade-in linear;
  animation-timeline: view();
  animation-range: entry;
}
.card-body {
  background-color: #181823;
  padding: 1.5rem 1.5rem;
}
.card h3 {
  margin-bottom: 1em;
  color: rgba(255, 255, 255, 0.8);
}
.card-text {
  color: var(--clr-light-gray);
  font-weight: 700;
}
.card-title:hover {
  text-decoration: underline;
}
.view-icon {
  display: inline-flex;
  inline-size: 100%;
  justify-content: space-around;
  padding: 1em 0;
  /* transform: translateY(150%);
  transition: transform 750ms ease-in-out; */
}
/* .card-body:hover .view-icon {
  transform: translateY(0%);
} */
.view-icon > a {
  width: max-content;
  margin: 0 1em;
  padding: 0.5em 1em;
  border-radius: 1.25em;
  background-color: green;
  color: #fff;
  text-decoration: none;
}
.image-anchor {
  overflow: hidden;
  margin-bottom: 1em;
}
.card-image {
  display: block;
  /* height: 100%; */
  /* width: 100%; */
  /* aspect-ratio: 4 / 3; */
  /* transition: transform 400ms ease 0ms; */
  /* margin: 0 auto; */
}

@keyframes fade-in {
  from {
    scale: 0.5;
    opacity: 0;
  }
  to {
    scale: 1;
    opacity: 1;
  }
}
@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Contact
============*/
.contact_form {
  inline-size: 100%;
  max-inline-size: 45rem;
  margin: 0 auto;
  background-color: #fff;
  padding: 1em;
}
.contact_form::after {
  content: "";
  clear: both;
  display: block;
}
/* Footer 
============*/
.footer {
  background-color: var(--clr-footer-bg);
  margin: 0;
  padding: 4em 2em;
  display: grid;
  gap: 2em;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}
.footer li {
  padding: 1em 0;
}
.footer a {
  color: #fff;
  text-decoration: none;
}
.social i {
  margin-right: 1em;
}
@media screen and (min-width: 576px) {
  .footer {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
}
/* About Me 
==============*/
.about {
}
.skills {
  display: flex;
  flex-wrap: wrap;
}
.skill {
  background-color: rgba(220, 220, 220, 0.4);
  color: rgba(0, 0, 0, 0.8);
  font-size: small;
  font-weight: 500;
  margin: 0 1em 0.5em 0;
  padding: 0.5em 1em;
  border-radius: 0.25em;
}

/* Animations 
=================*/
@keyframes typewriter {
  to {
    left: 100%;
  }
}
@keyframes blink {
  to {
    background: transparent;
  }
}
@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
